h1, th, td, strong, label, button, p{
    font-family: 'Saira Extra Condensed', sans-serif;
}

body{
    background-color: #cb4154;
    background-image: url("https://www.transparenttextures.com/patterns/white-brick-wall.png");
}

.btn{
    background-color: #cb4154;
    border: none
}

p{
    margin-bottom:0;
    font-size: 0.75em;
    color:gray;
}

#github a i{
    color:#cb4154;
    font-size: 1em;
    padding:0
}

.btn:hover{
    background-color: gray
}

.jumbotron{
    padding-top:2vh;
    margin-top:2vh;
    padding-bottom:4vh;
    margin-bottom:2vh;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th {
  font-size: 1em;
}

table td {
    font-size: 1em;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;
  }
  
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}
